@font-face {
    font-family: NeueMachinaLight;
    src: url('../font/neue-machina-light/NeueMachina-Light.woff2') format("woff2"),
        url('../font/neue-machina-light/NeueMachina-Light.woff') format("woff")
}

@font-face {
    font-family: NeueMachina;
    src: url('../font/neue-machina-regular/NeueMachina-Regular.woff2') format("woff2"),
        url('../font/neue-machina-regular/NeueMachina-Regular.woff') format("woff")
}

@font-face {
    font-family: NeueMachinaUltrabold;
    src: url('../font/neue-machina-ultrabold/NeueMachina-Ultrabold.woff2') format("woff2"),
        url('../font/neue-machina-ultrabold/NeueMachina-Ultrabold.woff') format("woff")
}

.font-neuemachina-light {
    font-family: NeueMachinaLight !important;
}

.font-neuemachina {
    font-family: NeueMachina !important;
}

.font-neuemachina-ultrabold {
    font-family: NeueMachinaUltrabold !important;
}

.disable-user-select {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}